@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import "_variables.scss";

* {
   box-sizing: border-box;
   font-family: Montserrat;
}
body {
   background-color: #f4f4f4;
   font-size: $fz-basic;
   font-style: normal;
   line-height: 1.2;
   min-width: $body-min-width;
   margin: 0;
}

.btn__scale {
   transition: all 0.1s linear;
}

.btn__scale:hover {
   transform: scale(1.1);
}
