@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import "_variables.scss";

* {
   box-sizing: border-box;
   font-family: Montserrat;
}
body {
   font-size: $fz-basic;
   font-style: normal;
   line-height: 1.2;
   margin: 0;
}

.btn__translate {
   transition: all 0.2s linear;
}
.btn__scale {
   transition: all 0.1s linear;
}

.btn__translate:hover {
   transform: translateY(-5px);
}
.btn__scale:hover {
   transform: scale(1.1);
}
